%p Welcome, #{current_player}!
- if current_game.started?
  = render_navy(current_player.navy)
  - if current_player.has_turn?
    %p.ready_to_attack Ready to Attack
  - else
    %p.waiting_for_attack Waiting for Opponent's Attack
- else
  %p.waiting_for_an_opponent Waiting for an opponent…
