%table
  %thead
    %tr
      %td &nbsp;
      - theater.columns.each do |column|
        %th= column
  %tbody
    - theater.rows.each_with_index do |row, y|
      %tr
        %th= row
        - theater.columns.each_with_index do |column, x|
          = render_cell(theater.at([x, y]))
